@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=M+PLUS+1p:wght@400;700&display=swap');

.medium-text1 {
  position: absolute;
  width: 260px;
  height: 40px;
  left: 500px;
  top: 131px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 103px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #122947;
  z-index: 1;
}

.Pr03 {
  position: absolute;
  width: 553px;
  height: 23px;
  left: 45px;
  top: 760px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #122947;
}
.Pr103 {
  position: absolute;
  width: 553px;
  height: 23px;
  left: 46px;
  top: 800px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  text-align: left;
  color: #122947;
}

.but3 {
  position: absolute;
  width: 207px;
  height: 45px;
  left: 100px;
  top: 860px;
  background-color: #f7d3d3;
  color: black;
  border: 2px solid #fac2c2;
}


.contact1 {
  position: absolute;
  width: 670px;
  height: 554px;
  left: 19px;
  top: 150px;
  background: #f4f1ed;
}

.Cont11 {
  position: absolute;
  width: 717px;
  height: 555px;
  left: 649px;
  top: 0px;
}

.naz11 {
  position: relative;
  width: 55px;
  height: 13px;
  left: 183px;
  top: 150px;
  margin-bottom: 35px;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 1;
  display: flex;
  text-align: left;
  color: rgb(18, 41, 71);
}

.tex11 {
  position: relative;
  width: 256px;
  height: 39px;
  left: 181px;
  top: 151px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  display: flex;
  text-align: left;
  color: #122947;
}

.Contacti11 {
  position: absolute;
  width: 142px;
  height: 23px;
  left: 184px;
  top: 74px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 39px;
  color: #122947;
}

.contact1{
position: absolute;
width: 100%;
height: 454px;
left: 0px;
top: 250px;
background: #f7d3d3;
}