@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Inter&display=swap');

.sohr1 {
  position: absolute;
  width: 100%;
  height: 64px;
  top: 75px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #122947;
}

.product {
  position: absolute;
  width: 100%;
  height: 46px;
  top: 165px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.Pr12 {
  position: absolute;
  width: 553px;
  height: 23px;
  left: 225px;
  top: 1850px;
  padding: 150px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #122947;
}

@media (max-width: 1200px) {

.sohr1 {
  position: absolute;
  width: 100%;
  height: 64px;
  top: 103px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.2;
  text-align: center;
  color: #122947;
}
.Pr12 {
  position: absolute;
  width: 142px;
  height: -9px;
  left: -68px;
  top: 4388px;
  padding-bottom: 209px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #122947;
}

}